# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Environment variables
.env
.env.local
.env.development
.env.production

# Build output
dist/
build/
out/
.next/

# OS & editors
.DS_Store
Thumbs.db
.cache
.vscode/
.idea/
*.log

# Secrets
*.pem
*.key
*.crt